.generateHeader {
  background-color: #1cd760;
  color: black;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 25px;
}

.generateContainer {
  margin-left: 420px;
}

.generateHeader h1 {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.generateForm {
  background-color: #2f2f2f;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 97.6%;
  border-radius: 20px;
}

.generateForm label {
  font-size: 20px;
  font-weight: 700;
}

.generateForm textarea {
  width: 97.7%;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  margin-top: 15px;
  background-color: #1f1f1f;
}

.preferences a {
  background-color: #1f1f1f;
  border-radius: 10px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.preferences a:hover {
  background-color: #121212;
  cursor: pointer;
}

.preferences p {
  font-size: 19px;
  font-weight: 700;
}

.addSign {
  margin-top: 18px;
  margin-left: 10px;
}

.preferences {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.preferences textarea {
  background-color: #1f1f1f;
  width: 35.5%;
  margin-top: 0px;
}

.generateButton {
  background-color: #1cd760;
  color: #1f1f1f;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
  border-style: none;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}

.generateButton:hover {
  background-color: #2aff78;
  cursor: pointer;
}

.artistSearchBox {
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  width: 50vw;
  max-height: 70vh;
}

.artistSearchContainer {
  background-color: #181818ab;
  place-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  position: fixed;
}

.result {
  background-color: #1e1e1e;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
}

.result img {
  width: 50px;
}

.result p {
  font-weight: 700;
  margin-left: 20px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.result:hover {
  background-color: #242424;
  cursor: pointer;
}

.songResult {
  background-color: #1e1e1e;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
}

.songResult img {
  width: 50px;
}

.songResult p {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.songArtist {
  font-weight: 500;
  font-size: 17px;
}

.songName {
  font-weight: 700;
  font-size: 20px;
}

.songResult:hover {
  background-color: #242424;
  cursor: pointer;
}

.results {
  justify-content: space-evenly;
  height: 50vh;
  overflow: scroll;
  border-radius: 20px;
  margin-top: 20px;
}

.loadingMsg{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #1f1f1f;
  padding-top: 10px;
  border-radius: 20px;
}

.loadingMsg p{
  margin-top: 5px;
  font-size: 20px;
  margin-left: 10px;
}

.error {
  background-color: rgb(218, 60, 60);
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
}

.error p {
  margin: 0;
}

.artistSearchBox form {
  display: flex;
  justify-content: space-between;
}

.artistSearchBox input {
  font-size: 20px;
  border-style: none;
  border-radius: 20px;
  padding: 15px;
  width: 70%;
}

.artistSearchBox button {
  background-color: #1cd760;
  color: #121212;
  font-weight: 700;
  font-size: 20px;
  padding: 15px;
  border-style: none;
  border-radius: 20px;
  width: 15%;
}

.artistSearchBox button:hover {
  cursor: pointer;
}

.closeBtn:hover {
  cursor: pointer;
}

.closeBtn {
  background-color: #1e1e1e;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  height: fit-content;
}

.preferredArtists {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  overflow: auto;
  margin-top: 15px;
  max-width: 65vw;
}

.preferredArtist img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.preferredArtist p {
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.preferredArtist {
  background-color: #1f1f1f;
  display: flex;
  margin-right: 10px;
  place-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  max-height: 55px;
}

.preferredSong {
  background-color: #1f1f1f;
  display: flex;
  margin-right: 10px;
  place-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  max-height: 55px;
}

.preferredSong img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 15px;
}

.preferredSongArtist{
  margin-top: -15px;
}

.preferredSongDetails{
  margin-right: 20px;
}

.deleteArtistPreference {
  margin-top: 2px;
}

.deleteArtistPreference:hover {
  cursor: pointer;
}

.songDetails p {
  margin-top: 2px;
}

@media only screen and (max-width: 600px) {
  .generateContainer {
    margin-left: 0px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .loadingMsg{
    margin-top: 20px;
    background-color: #1f1f1f;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }
  
  .loadingMsg p{
    margin-top: 5px;
    font-size: 17px;
    margin-left: 10px;
  }
  .hourGlassIcon{
    margin-top: 6px;
  }
  .closeBtn{
    padding-left: 8px;
    padding-right: 8px;
  }
  .artistSearchBox{
    width: 71vw;
  }
  .searchBtn{
    display: none;
  }
  .artistSearchBox button {
    font-size: 20px;
    padding: 15px;
    padding-right: 35px;
    border-style: none;
    border-radius: 20px;
    width: 15%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .generateHeader h1{
    font-size: 25px;
    margin-top: 2px;
  }
  .generateHeader{
    padding-right: 35px;
  }
  .generateForm textarea{
    width: 92%;
  }
  .preferences{
    flex-direction: column;
  }
  .preferences a{
    margin-bottom: 10px;
  }
  .preferences p{
    font-size: 18px;
  }
}
