.playlistyLogo img {
  width: 160px;
  height: 110px;
}

.playlistyLogo p {
  color: #1cd760;
  font-weight: 700;
  font-size: 35px;
}

.playlistyLogo {
  display: flex;
  width: 100%;
  margin-left: -15px;
}

.sidebarContainer {
  border-style: solid;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-color: rgb(187, 187, 187);
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  min-height: 100vh;
  max-height: 100%;
  background-color: #181818;
}

.sidebarItems a {
  display: flex;
  flex-direction: row;
  background-color: #2f2f2f;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: #29292900;
  margin-bottom: 15px;
}

.sidebarItems a:hover {
  border-style: solid;
  background-color: #414141;
}

.sparkles {
  margin-left: 25px;
}

.sidebarItems p {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.userData{
  display: flex;
  flex-direction: row;
  background-color: #2f2f2f;
  border-radius: 20px;
  padding: 10px;
}

.userData p{
  font-size: 20px;
  font-weight: 700;
}

.userData img{
  border-radius: 20px;
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

.userName p{
  margin-top: 10px;
  margin-bottom: 5px;
}

.userName a{
  color: rgb(253, 67, 67);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}